---
layout: default
---
<!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{% for post in site.categories[page.category] %}
  <article class="post">
    <hr>
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    {{ post.excerpt }}
  </article>
{% endfor %} -->
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% for post in site.categories[page.category] %}
    <hr>
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.excerpt }}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><i>Đọc thêm</i></a>
    </li>
    {%- endfor -%}
  </ul>
</div>